@{
ViewData["Title"] = "Home Page";
}
<nav class="navbar navbar-expand-lg red-bg">
    <a id="heathinvestigations" class="navbar-brand" href="/">Heath, Heath & Associates, Inc.</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Investigative Cases</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<div class="body">
    <h1>What do we do?</h1>
    <p>Heath, Heath & Associates, Inc. is a full-service private investigative agency servicing businesses, insurance companies, attorneys and individuals; defending them in the fight against fraud, theft, employee misconduct, Security Consulting and other investigative inquiry requests.  Our services are offered throughout the state of Oklahoma.  Our goal is to provide superior results and unmatched customer service in defense of our client’s interests.  We pride ourselves in the ability to meet our client’s objectives and exceed their expectations in an expedient and ethical manner while maintaining client confidentiality, at a reasonable rate.</p>
    <img id="home-picture" src="~/images/boston-ave.jpg" alt="Philtower Building">
    <b></b>
    <h2>Our Business Philosophy</h2>
    <p id="philosophy">Our philosophy is simple: Give the client more than they pay for.  Never compromise our honesty or the confidential nature of our business and always work to exceed their expectations.</p>
    <b></b>
    <p>The strength of Heath, Heath & Associates, Inc. lies in the fact that we have the flexibility and creativity to deliver that which the client requests based upon their needs, without cutting corners.  It is our mission to provide clients with the kind of investigative services they require in the most efficient, cost effective and comprehensive manner possible.</p>
    <b></b>
    <p>It is not above Heath, Heath & Associates, Inc. to suggest alternatives other than on site surveillance if a client’s investigative needs can be met without them.  Although this sometimes results in less revenue in the short term, client’s respect our honesty and it inevitably builds friendships and long-term working relationships/partnerships.</p>
</div>
<footer class="red-bg">
    
</footer>